.bg{

    background-color:#000;
}
.service{
    color:white;
    font-size: 300%;
    padding: 3%;
}
.input{
    padding: 1%;
    text-align: center;
    color:rgb(7, 7, 7);
    width: 60%;
    border-radius: 26px
}
.search{
    text-align: center;
}
.custom-box {
    background-color: grey;
    color: white;
    font-size: 20px;
        border-radius: 10px;
  text-align: left;
}
.container{
    filter: blur(1px);
    color: white;
   background-image: url(https://cdn-icons-png.flaticon.com/512/5066/5066871.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 23px;
    border-radius: 10px;
    text-align: left;
}